<header class="header">
  <div class="header__nav__option">
      <div class="container">
          <div class="row">
              <div class="col-lg-2">
                  <div class="header__logo">
                      <a href="/"><img src="img/logo.png" alt=""></a>
                  </div>
              </div>
              <div class="col-lg-10">
                  <div class="header__nav">
                      <nav class="header__menu">
                          <ul>
                              <li><a href="/">Home</a></li>
                              <li><a href="/rooms">Rooms</a></li>
                              <li><a href="/about">About Us</a></li>
                          </ul>
                      </nav>
                      <div class="header__nav__widget">
                          <a href="/book">Book Now</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="canvas__open">
              <span class="fa fa-bars"></span>
          </div>
      </div>
  </div>
</header>