<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
  
  <div class="abtcover about-bg">
    <h1 class="abthead">About ADJ Hotel</h1>
  </div>
 
    <div class="container">
    <div class="story row">
      <div class="about-desc col-md-6 col-lg-6">
        <div class="abt-title">ADJ Hotel - More than a stay</div>
        <div class="abt-desc">ADJ Hotel was established on Jan 1, 2000. 21 years in this field, ADJ has grown into an affordable, luxurious, and most trustworthy hotel in Toronto. Our new projects starting soon in Montreal, and Vancouver. In 2018, ADJ earned Best Hotel in Canada Award. Our main aim is to deliver the exceptional service to customers and to build customer trust. 

        </div>
      </div>
      <div class="col-md-6 col-lg-6 abt-img">
        <img src="images\luxury-deluxe-room.jpg" >
      </div>  
    </div>
    
  </div>

  <section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                  <img src="images/services/services-1.png" alt="">
                    <h4>Free Wi-Fi</h4>
                    <p>The massive investment in a hotel or resort requires constant reviews and control in order to
                        make it a successful investment.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="images/services/services-2.png" alt="">
                    <h4>Premium Pool</h4>
                    <p>Choose from 4 unique ready made concepts, let us help you create the concept perfect for you
                        or let HCA.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="images/services/services-3.png" alt="">
                    <h4>Coffee Maker</h4>
                    <p>HCA's Owner's Representation is taking care of just these important factors, may it be
                        through regular site visits and spot checks.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="images/services/services-4.png" alt="">
                    <h4>Bar Wine</h4>
                    <p>For properties with third party management companies, HCA Consultants will as well administer
                        the terms and conditions.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="images/services/services-5.png" alt="">
                    <h4>TV HD</h4>
                    <p>We provide a critical analysis of a hotel's marketing strategy, bench-marking it against
                        industry and competitive practices.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="images/services/services-6.png" alt="">
                    <h4>Restaurant</h4>
                    <p>A hotel and restaurant investment deserves careful and market oriented financial planning and
                        projections.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
